*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;

}
.container{
    background-color: white;
    margin: 100px;
    padding: 50px;
    border-radius: 1rem;
    border: none;
    text-align: center;
    

}
h1{
    margin-bottom: 40px;
}

button{
     padding: 10px;
     margin-bottom: 20px;
     font-family: Arial, Helvetica, sans-serif;
     border-radius: 1rem;
     border: none;
}
button:hover{
    background-color: aquamarine;
}
p{
    font-size: 30px;
}